@font-face {
  font-family: "Glacial Indifference";
  src: url("./assets/fonts/GlacialIndifference-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Glacial Indifference";
  src: url("./assets/fonts/GlacialIndifference-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("./assets/fonts/CormorantGaramond-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 700; /* same range */
  font-style: italic;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("./assets/fonts/CormorantGaramond-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 700; /* range of supported weights */
  font-style: normal;
}

body {
  font-family: "Cormorant Garamond", serif;
  color: #111;
  font-weight: 400;
  background: #fff;
  text-align: center;
  margin: 0;
}

.hero {
  padding: 3rem 1rem;
  background: #99964c;
  color: white
}

.logo {
  font-family: "Glacial Indifference", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

nav {
  margin: 1rem 0;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

h2 {
  margin-top: 2rem;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
}
